<script>
	import Logo from './Logo.svelte';
</script>

<div style:display="flex" style:justify-content="center">
	<a href="/" style:height="60px" style:overflow="hidden">
		<Logo height={60} width={150} />
	</a>
</div>
